<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>

<div class="jumbotron text-center">
    <div class="container">
        <h1>HOT STREAK</h1>
        <p>Thank you for your interest in HOT STREAK.  Please click this link, which will redirect you to a registration form.
            After you provide your information, we look forward to sharing a link to our prototype.</p>
        <a type="button" class="btn btn-lg btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSedT3tptByA0b4dc9MfsSUmOXwkSqZhPED4TGd58JqN-86JTw/viewform?usp=sf_link"><span
                class="glyphicon glyphicon-download"></span>Registration Form</a>
    </div>
</div>

</body>
</html>
